/* CONTENT */
.page-wrapper {
    margin: 0 auto;
    margin-bottom: calc(var(--default) * 5);
    padding: var(--default);
    width: 100%;
    max-width: var(--max-width-1300);
}

/* PRODUCT GRID */
.product-grid {
    margin: var(--default) auto;
    margin-bottom: calc(var(--default) * 3);
    display: grid;
    align-items: center;
    place-items: center;
    column-gap: calc(var(--medium) * 3);
    row-gap: calc(var(--medium) * 5);
    grid-template-columns: repeat(2, 1fr);
}

.product-grid .product-card {
    width: 100%;
    height: 100%;
    max-width: var(--max-width-200);
    max-height: var(--max-width-200);
    border: 1px solid var(--site-grey);
    position: relative;
    border-radius: var(--miniscule);
    box-shadow: none;
    transform: scale(1);
    transition: var(--transition-medium) linear;
}

.product-grid .product-card:hover {
    transform: scale(1.02);
    border: 1px solid var(--site-dark-grey);
    box-shadow: 0 0 30px var(--site-grey);
}

.product-grid .product-card img {
    width: 100%;
    height: 100%;
    max-width: var(--max-width-100);
    min-height: var(--max-width-100);
    object-fit: contain;
    object-position: center;
}

.product-grid .product-card:hover .product-card-title {
    color: var(--site-black);
}

.product-grid .product-card-title {
    position: absolute;
    top: 0;
    left: 0;
    padding: var(--medium);
    font-size: 85%;
    font-weight: 600;
    color: var(--site-red);
}

@media (min-width: 650px) {
    .product-grid {
        grid-template-columns: repeat(3, 1fr);
    }

    .product-grid .product-card img {
        max-width: var(--max-width-200);
        min-height: var(--max-width-200);
    }
}

@media (min-width: 800px) {
    .product-grid {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (min-width: 1024px) {
    .product-grid {
        grid-template-columns: repeat(5, 1fr) !important;
    }
}

.page-wrapper .articles-grid {
    columns: 1;
    column-gap: var(--default);
}

@media (min-width: 768px) {
    .page-wrapper {
        min-height: 750px;
    }

    .page-wrapper .articles-grid {
        columns: 2;
    }
}

@media (min-width: 1024px) {
    .page-wrapper .articles-grid {
        columns: 3;
    }
}
.page-wrapper article > p{
    margin-bottom: calc(var(--default) * 2);
}
.page-wrapper .articles-grid article {
    -webkit-column-break-inside: avoid;
    break-inside: avoid;
    page-break-inside: avoid;
    position: relative;
    margin-bottom: var(--default);
    box-shadow: 0 0 5px var(--site-grey);
    border: 1px solid var(--site-grey);
    border-radius: var(--medium);
    background: var(--site-white);
    transition: var(--transition-medium) ease;
}

.page-wrapper .articles-grid article:hover {
    border: 1px solid var(--site-dark-grey);
    box-shadow: 0 0 15px var(--site-grey);
}

.page-wrapper .articles-grid article .article-header-image {
    position: relative;
    top: 0;
    z-index: 1;
    min-height: 80px;
    display: grid;
    place-items: center;
}

.page-wrapper .articles-grid article .article-header-image h1 {
    font-weight: 500;
    text-transform: uppercase;
    position: relative;
    color: var(--site-white);
    z-index: 1;
}

.page-wrapper .articles-grid article .article-header-image::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    z-index: -1;
}

.page-wrapper .articles-grid article .article-header-image::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(34, 34, 34, 0.8);
}

.page-wrapper .articles-grid article .welcome-header-image::before {
    background: url('../../welcome.jpg');
}

.page-wrapper .articles-grid article .drum-header-image::before {
    background: url('../../drum-it-in.jpg');
}

.page-wrapper .articles-grid article .locations-header-image::before {
    background: url('../../locations.png');
}

.page-wrapper .articles-grid article p,
.page-wrapper .articles-grid article ul {
    margin: var(--default);
    line-height: calc(var(--default) * 2);
}

.page-wrapper .articles-grid article ul.located-across li {
    position: relative;
    text-indent: 0;
    color: initial;
    padding-left: calc(var(--default) * 2);
    transition: var(--transition-fast) linear;
}

.page-wrapper .articles-grid article ul.located-across li:hover {
    color: var(--site-dark-blue);
    text-indent: var(--miniscule);
}

.page-wrapper .articles-grid article ul.located-across li::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    width: var(--default);
    height: var(--default);
    transform: translateY(-50%);
    background: url('../../icon-location.svg') no-repeat center;
    background-size: contain;
}

.page-wrapper .articles-grid article .article-link {
    padding: var(--default);
    display: flex;
    justify-content: flex-end;
}

.page-wrapper .articles-grid article .article-link a {
    border: 3px solid var(--site-light-blue);
    padding: var(--medium);
    font-weight: 600;
    color: var(--site-light-blue);
    text-transform: uppercase;
    position: relative;
    z-index: 1;
    text-align: center;
    width: 100%;
    transition: var(--transition-medium) ease;
}

@media (min-width: 768px) {
    .page-wrapper .articles-grid article .article-link a {
        width: initial;
    }
}

.page-wrapper .articles-grid article .article-link a:hover {
    color: var(--site-white);
}

.page-wrapper .articles-grid article .article-link a::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    opacity: 0;
    background: var(--site-light-blue);
    transition: var(--transition-medium) ease;
    z-index: -1;
}

.page-wrapper .articles-grid article .article-link a:hover:before {
    opacity: 1;
    height: 100%;
}

.page-wrapper .articles-grid article .article-image {
    display: flex;
    justify-content: center;
}

.page-wrapper .articles-grid article .article-image a {
    flex: 1;
    width: 100%;
    position: relative;
    overflow: hidden;
    border-radius: var(--medium);
}

.page-wrapper .articles-grid article .article-image a:hover img {
    filter: grayscale(0);
    transform: scale(1.05) rotateZ(3deg);
}

.page-wrapper .articles-grid article .article-image img {
    width: 100%;
    filter: grayscale(80%);
    transform: scale(1) rotateZ(0);
    border-radius: inherit;
    transition: var(--transition-medium) ease;
}
.page-wrapper .page-header{
    position: relative;
    min-height: var(--max-width-300);
    margin-bottom: calc(var(--default) * 3);
    display: grid;
    place-items: center;
    position: relative;
    overflow: hidden;
}
.page-wrapper .page-header::before{
    color: var(--site-dark-blue);
    content: attr(data-header-name);
    position: absolute;
    top: -30%;
    width: 100%;
    height: 100%;
    left: 0;
    opacity: calc(var(--opacity-full) * 0.03);
    font-size: calc(var(--default) * 19);
    transform: scale(0.8);
}
.page-wrapper .page-header::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, transparent, rgba(255,255,255,var(--opacity-dim)));
}
.page-wrapper .page-header h1{
    font-weight: 300;
    font-size: calc(var(--default) * 3);
    line-height: calc(var(--default) * 4);
}
/* SERVICES */
.page-wrapper .service-list{
    transform-style: preserve-3d;
    /* perspective-origin: left; */
    perspective-origin: center;
    perspective: var(--max-width-500);
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: var(--default);
}
@media (min-width: 768px){
    .page-wrapper .service-list{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (min-width: 1024px){
    .page-wrapper .service-list{
        grid-template-columns: repeat(3, 1fr);
    }
}
.page-wrapper .service{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: var(--medium) 0;
    border: 1px solid var(--site-dark-blue);
    border-radius: 50px / 50%;
    background: var(--site-light-blue);
    position: relative;
    filter: unset;
    transition: var(--transition-fast) linear;
    overflow: hidden;
    
}
.page-wrapper .service::before {
    content: attr(data-name);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80%;
    display: grid;
    place-items: center;
    padding: 0 calc(var(--default) * 7);
    color: var(--site-white);
    opacity: var(--opacity-none);
    transform: translateY(150%);
    transition: var(--transition-fast);
}
.page-wrapper .service:hover:before{
    opacity: var(--opacity-full);
    transform: translateY(0%);
}
.page-wrapper .service .service-image{
    min-width: var(--max-width-100);
    min-height: var(--max-width-100);
    border: 1px solid var(--site-light-blue);
    border-radius: 50%;
    display: grid;
    place-items: center;
    overflow: hidden;
    background: var(--site-white);
    transform: scale(0.85) rotate(0deg);
    transition: var(--transition-fast) ease;
}
.page-wrapper .service img {
    max-width: calc(var(--max-width-100) / 2);
    max-height: calc(var(--max-width-100) / 2);
    object-fit: contain;
    object-position: center;
    margin: 0 auto;
}
.page-wrapper .service-name{
    opacity: var(--opacity-full);
    padding: 0 var(--default);
    transition: var(--transition-fastest) ease;
}
.page-wrapper .service-name p{
    color: var(--site-white);
    transition: var(--transition-medium) ease;
}
@media (min-width: 1024px){
    .page-wrapper .service-name p{
        width: var(--max-width-100);
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
}
.page-wrapper .service:hover{
    filter: drop-shadow(2px 4px 6px var(--site-black));
    background: var(--site-dark-blue);
}
.page-wrapper .service:hover .service-image{
    transform: scale(0.85) rotate(360deg);
}
.page-wrapper .service:hover .service-name{
    opacity: var(--opacity-none);
    transform: translateY(-150%);
}
.page-wrapper .article-image{
    display: flex;
    justify-content: center;
    margin: calc(var(--default) * 5) 0;
}
.page-wrapper .article-image-dropshadow img{
    filter: drop-shadow(2px 4px 6px var(--site-black));
}
.page-wrapper .text-center{
    text-align: center;
}