/* BODY */
body{
    transition: var(--transition-fast) ease;
}
body.halt-body{
    max-height: 100vh;
    overflow: hidden;
}

/* CONTENT */
.page-wrapper {
    margin: 0 auto;
    margin-bottom: calc(var(--default) * 5);
    padding: var(--default);
    width: 100%;
    max-width: var(--max-width-1300);
}
/* HOMEPAGE */
.page-banner{
    position: relative;
    z-index: 10;
}
@media (min-width: 1024px){
    .page-banner canvas{
        min-height: 30vh !important;
    }
}
@media (min-width: 1024px){
    .page-banner::before {
        content: attr(data-title);
        position: relative;
        z-index: -1;
        top: 5rem;
        opacity: var(--opacity-none);
        padding: 0 var(--medium);
        transition: var(--transition-medium) ease;
    }
    .page-banner:hover:before{
        opacity: var(--opacity-full);
        top: 0;
    }
}


/* PRODUCT GRID */
.product-grid {
    margin: var(--default) auto;
    margin-bottom: calc(var(--default) * 3);
    display: grid;
    align-items: center;
    place-items: center;
    grid-template-columns: repeat(2, 1fr);
}

.product-grid .product-card {
    width: 100%;
    height: 100%;
    border: 1px solid var(--site-grey);
    position: relative;
    border-radius: var(--miniscule);
    box-shadow: none;
    transform: scale(1);
    transition: var(--transition-medium) linear;
}

.product-grid .product-card:hover {
    transform: scale(1.02);
    border: 1px solid var(--site-dark-grey);
    box-shadow: 0 0 30px var(--site-grey);
}
.product-grid .product-card a{
    width: 100%;
}
.product-grid .product-card .product-card-image{
    display: flex;
    justify-content: flex-end;
}
.product-grid .product-card img {
    width: 100%;
    height: 100%;
    max-width: var(--max-width-100);
    min-height: var(--max-width-100);
    object-fit: contain;
    object-position: center;
}

.product-grid .product-card:hover .product-card-title {
    color: var(--site-black);
}

.product-grid .product-card-title {
    position: absolute;
    top: 0;
    left: 0;
    padding: var(--medium);
    font-size: 85%;
    font-weight: 600;
    color: var(--site-red);
}

@media (min-width: 650px) {
    .product-grid {
        grid-template-columns: repeat(3, 1fr);
    }

    .product-grid .product-card img {
        max-width: var(--max-width-200);
        min-height: var(--max-width-200);
    }
}

@media (min-width: 800px) {
    .product-grid {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (min-width: 1024px) {
    .product-grid {
        grid-template-columns: repeat(5, 1fr) !important;
    }
}
.page-wrapper .article-header h2 {
    color: var(--site-dark-blue);
    text-transform: capitalize;
    margin-bottom: var(--default);
}
.page-wrapper article .italic span{
    color: var(--site-red);
}
.page-wrapper article ul,
.page-wrapper article ol{
    padding-bottom: calc(5 * var(--medium));
}
.page-wrapper article ul.article-list li,
.page-wrapper article ol.article-list li{
    margin-left: calc(5 * var(--medium));
}
.page-wrapper article ul.article-list li {
    list-style: disc;
}
.page-wrapper article ol.article-list li{
    list-style: lower-roman;
}
.page-wrapper .articles-grid {
    columns: 1;
    column-gap: var(--default);
}

@media (min-width: 768px) {
    .page-wrapper {
        min-height: 750px;
    }

    .page-wrapper .articles-grid {
        columns: 2;
    }
}

@media (min-width: 1024px) {
    .page-wrapper .articles-grid {
        columns: 3;
    }
}

.page-wrapper article>p {
    margin-bottom: calc(var(--default) * 2);
}

.page-wrapper .articles-grid article {
    -webkit-column-break-inside: avoid;
    break-inside: avoid;
    page-break-inside: avoid;
    position: relative;
    margin-bottom: var(--default);
    box-shadow: 0 0 5px var(--site-grey);
    border: 1px solid var(--site-grey);
    border-radius: var(--medium);
    background: var(--site-white);
    transition: var(--transition-medium) ease;
}

.page-wrapper .articles-grid article:hover {
    border: 1px solid var(--site-dark-grey);
    box-shadow: 0 0 15px var(--site-grey);
}

.page-wrapper .articles-grid article .article-header-image {
    position: relative;
    top: 0;
    z-index: 1;
    min-height: 80px;
    display: grid;
    place-items: center;
}

.page-wrapper .articles-grid article .article-header-image h1 {
    font-weight: 500;
    text-transform: uppercase;
    position: relative;
    color: var(--site-white);
    z-index: 1;
}

.page-wrapper .articles-grid article .article-header-image::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    z-index: -1;
}

.page-wrapper .articles-grid article .article-header-image::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(34, 34, 34, 0.8);
}

.page-wrapper .articles-grid article .welcome-header-image::before {
    background: url('../../public/welcome.jpg');
}

.page-wrapper .articles-grid article .drum-header-image::before {
    background: url('../../public/drum-it-in.jpg');
}

.page-wrapper .articles-grid article .locations-header-image::before {
    background: url('../../public/locations.png');
}

.page-wrapper .articles-grid article p,
.page-wrapper .articles-grid article ul {
    margin: var(--default);
    line-height: calc(var(--default) * 2);
}

.page-wrapper .articles-grid article ul.located-across li {
    position: relative;
    text-indent: 0;
    color: initial;
    padding-left: calc(var(--default) * 2);
    transition: var(--transition-fast) linear;
}

.page-wrapper .articles-grid article ul.located-across li:hover {
    color: var(--site-dark-blue);
    text-indent: var(--miniscule);
}

.page-wrapper .articles-grid article ul.located-across li::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    width: var(--default);
    height: var(--default);
    transform: translateY(-50%);
    background: url('../../public/icon-location.svg') no-repeat center;
    background-size: contain;
}

.page-wrapper article .article-link {
    padding: var(--default);
    display: flex;
    justify-content: start;
}
.page-wrapper article .article-link.padding-top-bottom{
    padding: var(--default) 0;
}
.page-wrapper article .article-link a {
    border: 3px solid var(--site-light-blue);
    padding: var(--medium);
    font-weight: 600;
    color: var(--site-light-blue);
    text-transform: uppercase;
    position: relative;
    z-index: 1;
    text-align: center;
    width: 100%;
    transition: var(--transition-medium) ease;
}

@media (min-width: 768px) {
    .page-wrapper .article-link a {
        width: initial !important;
    }
}

.page-wrapper .article-link a:hover {
    color: var(--site-white);
}

.page-wrapper article .article-link a::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    opacity: 0;
    background: var(--site-light-blue);
    transition: var(--transition-medium) ease;
    z-index: -1;
}

.page-wrapper article .article-link a:hover:before {
    opacity: 1;
    height: 100%;
}

.page-wrapper .articles-grid article .article-image {
    display: flex;
    justify-content: center;
}

.page-wrapper .articles-grid article .article-image a {
    flex: 1;
    width: 100%;
    position: relative;
    overflow: hidden;
    border-radius: var(--medium);
}

.page-wrapper .articles-grid article .article-image a:hover img {
    filter: grayscale(0);
    transform: scale(1.05) rotateZ(3deg);
}

.page-wrapper .articles-grid article .article-image img {
    width: 100%;
    filter: grayscale(80%);
    transform: scale(1) rotateZ(0);
    border-radius: inherit;
    transition: var(--transition-medium) ease;
}

.page-wrapper .page-header {
    position: relative;
    min-height: var(--max-width-300);
    margin-bottom: calc(var(--default) * 3);
    display: grid;
    place-items: center;
    position: relative;
    overflow: hidden;
}

.page-wrapper .page-header::before {
    color: var(--site-dark-blue);
    content: attr(data-header-name);
    position: absolute;
    top: -30%;
    width: 100%;
    height: 100%;
    left: 0;
    opacity: calc(var(--opacity-full) * 0.03);
    font-size: calc(var(--default) * 19);
    transform: scale(0.8);
}

.page-wrapper .page-header::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, transparent, rgba(255, 255, 255, var(--opacity-dim)));
}

.page-wrapper .page-header h1 {
    font-weight: 300;
    font-size: calc(var(--default) * 3);
    line-height: calc(var(--default) * 4);
}

/* SERVICES */
.page-wrapper .service-list {
    transform-style: preserve-3d;
    /* perspective-origin: left; */
    perspective-origin: center;
    perspective: var(--max-width-500);
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: var(--default);
}

@media (min-width: 768px) {
    .page-wrapper .service-list {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1024px) {
    .page-wrapper .service-list {
        grid-template-columns: repeat(3, 1fr);
    }
}

.page-wrapper .service {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: var(--medium) 0;
    border: 1px solid var(--site-dark-blue);
    border-radius: 50px / 50%;
    background: var(--site-light-blue);
    position: relative;
    filter: unset;
    transition: var(--transition-fast) linear;
    overflow: hidden;

}

.page-wrapper .service::before {
    content: attr(data-name);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80%;
    display: grid;
    place-items: center;
    padding: 0 calc(var(--default) * 7);
    color: var(--site-white);
    opacity: var(--opacity-none);
    transform: translateY(150%);
    transition: var(--transition-fast);
}

.page-wrapper .service:hover:before {
    opacity: var(--opacity-full);
    transform: translateY(0%);
}

.page-wrapper .service .service-image {
    min-width: var(--max-width-100);
    min-height: var(--max-width-100);
    border: 1px solid var(--site-light-blue);
    border-radius: 50%;
    display: grid;
    place-items: center;
    overflow: hidden;
    background: var(--site-white);
    transform: scale(0.85) rotate(0deg);
    transition: var(--transition-fast) ease;
}

.page-wrapper .service img {
    max-width: calc(var(--max-width-100) / 2);
    max-height: calc(var(--max-width-100) / 2);
    object-fit: contain;
    object-position: center;
    margin: 0 auto;
}

.page-wrapper .service-name {
    opacity: var(--opacity-full);
    padding: 0 var(--default);
    transition: var(--transition-fastest) ease;
}

.page-wrapper .service-name p {
    color: var(--site-white);
    transition: var(--transition-medium) ease;
}

@media (min-width: 1024px) {
    .page-wrapper .service-name p {
        width: var(--max-width-100);
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
}

.page-wrapper .service:hover {
    filter: drop-shadow(2px 4px 6px var(--site-black));
    background: var(--site-dark-blue);
}

.page-wrapper .service:hover .service-image {
    transform: scale(0.85) rotate(360deg);
}

.page-wrapper .service:hover .service-name {
    opacity: var(--opacity-none);
    transform: translateY(-150%);
}

.page-wrapper .article-image {
    display: flex;
    justify-content: center;
    margin: calc(var(--default) * 5) 0;
}

.page-wrapper .article-image.no-margin{
    margin: unset
}
.page-wrapper .article-image-dropshadow img {
    filter: drop-shadow(2px 4px 6px var(--site-black));
}

.page-wrapper .text-center {
    text-align: center;
}

/* PROJECTS */
.projects-list {
    display: grid;
    gap: var(--default);
    align-items: baseline;
    justify-content: center;
}

.projects-list .project {
    margin: var(--default) 0;
    position: relative;
}

.projects-list .project .project-date {
    color: var(--site-red);
    font-weight: 300;
    font-size: calc(var(--default) * 1.3);
}

.projects-list .project .project-title,
.projects-list .project .project-subtitle {
    color: var(--site-dark-blue);
    font-weight: 300;
    font-size: calc(var(--medium) * 1.75);
    margin-bottom: var(--medium);
}

.projects-list .project .project-subtitle {
    color: var(--site-black);
}

.projects-list .project .project-image,
.projects-list .project .no-project-image {
    border: 1px solid var(--site-dark-grey);
    min-height: 200px;
    filter: none;
    transform: scale(1);
    transition: var(--transition-fast);
}

.projects-list .project .project-image:hover,
.projects-list .project .no-project-image:hover {
    filter: drop-shadow(2px 4px 6px var(--site-black));
    transform: scale(1.02);
}

.projects-list .project .no-project-image {
    background: var(--site-light-blue);
    position: relative;
    z-index: 1;
}

.projects-list .project .no-project-image::before {
    color: var(--site-white);
    content: attr(data-no-image);
    display: grid;
    place-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.projects-list .project .project-image img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: center;
}

.articles {
    overflow-x: hidden;
}

/* ABOUT */
.article-header-image.sub-header-image {
    display: grid;
    min-height: 200px;
    place-items: center;
    margin-bottom: var(--default);
    position: relative;
    z-index: 1;
}

.article-header-image.sub-header-image::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    z-index: -1;
}

.article-header-image.sub-header-image::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    z-index: -1;
}

.article-header-image.sub-header-image.cablemakers-hue::after {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(238, 47, 60, 0.3), rgba(63, 100, 136, 0.8), rgba(0, 0, 0, 0.8));
}

.why-do-business::before {
    background: url('../../public/business-with-us.jpeg');
}

.our-experience::before {
    background: url('../../public/our-experience.png');
}

.article-header-image.sub-header-image h2 {
    position: relative;
    z-index: 10;
    color: var(--site-white);
}

.article-header-image.sub-header-image.cablemakers-hue h2 {
    border: 1px solid var(--site-white);
    padding: var(--medium) var(--default);
    background: rgba(0, 0, 0, 0.45);
}

.business-with-us-grid {
    align-items: flex-start;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: var(--default);
}

.business-with-us-grid .business-card {
    padding: calc(var(--medium) * 2);
    min-height: 150px;
    border: 1px solid var(--site-grey);
    border-radius: var(--miniscule);
    box-shadow: none;
    position: relative;
    z-index: 1;
    transition: var(--transition-fastest) linear;
}

.business-with-us-grid .business-card:hover {
    border: 1px solid var(--site-dark-grey);
    box-shadow: 0 0 20px var(--site-dark-grey);
}

.business-with-us-grid .business-card::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: 0;
    opacity: var(--opacity-none);
    border-bottom: 3px solid var(--site-light-blue);
    border-right: 3px solid var(--site-light-blue);
    border-bottom-right-radius: var(--miniscule);
    transition: var(--transition-fastest) linear;
}

.business-with-us-grid .business-card:hover::after {
    width: calc(var(--max-width-100) / 3);
    height: calc(var(--max-width-100) / 2);
    opacity: var(--opacity-full);
}

@media (min-width: 650px) {
    .business-with-us-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 768px) {
    .business-with-us-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 1024px) {
    .business-with-us-grid {
        grid-template-columns: repeat(4, 1fr);
    }
}

/* CONTACT */
.contact-article-flex-half {
    /* display: grid;
    grid-template-columns: repeat(1, 1fr);
    place-items: center; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.contact-article-flex-half .contact-form-article,
.contact-article-flex-half .contact-maps-article {
    flex: 1 0 auto;
    width: 100%;
}

.contact-article-flex-half .contact-form-article {
    order: 2;
}

.contact-article-flex-half .contact-form-article .contact-article-flex-half .contact-maps-article {
    order: 1;
}

.contact-article-flex-half .contact-form-article .contact-us::before {
    background: url('../../public/contact.jpg');
}

.contact-article-flex-half .contact-maps-article .contact-locations {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: var(--default);
}

@media (min-width: 768px) {
    .contact-article-flex-half .contact-maps-article .contact-locations {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1024px) {
    .contact-article-flex-half {
        grid-template-columns: repeat(2, 1fr);
    }

    .contact-article-flex-half .contact-form-article,
    .contact-article-flex-half .contact-maps-article {
        order: unset;
        margin: 0 var(--default);
    }

    .contact-article-flex-half .contact-form-article {
        max-width: 38%;
    }

    .contact-article-flex-half .contact-maps-article {
        max-width: 55%;
    }
}

.contact-form {
    width: 100%;
    padding: var(--medium);
}

.contact-form form {
    width: 100%;
    max-width: 100%;
}

.contact-form .form-required sup {
    position: relative;
    top: var(--miniscule);
    color: var(--site-red);
}

.contact-form .form-row {
    display: flex;
    flex-direction: column;
    margin: var(--medium) 0;
}

.contact-form .form-row label {
    display: inline-block;
    position: relative;
    z-index: 1;
}

.contact-form .form-row label sup {
    position: absolute;
    color: var(--site-red);
    top: 50%;
    margin-left: var(--miniscule);
    transform: translateY(-50%);
}

.contact-form .form-row input[type="text"],
.contact-form .form-row textarea {
    padding: var(--medium);
    border: 1px solid var(--site-dark-grey);
    border-radius: var(--miniscule);
}

.contact-form .form-row input[type="text"]:focus,
.contact-form .form-row textarea:focus {
    border: 1px solid var(--site-light-blue);
    background: var(--site-grey);
}

.contact-form .form-row textarea {
    resize: none;
}

.contact-form .form-row .form-error{
    color: var(--site-red);
    font-size: calc(var(--medium) * 1.75);
    margin: var(--miniscule) 0;
}

.contact-form .form-submit {
    display: flex;
    flex-wrap: wrap;
}

.contact-form .form-submit button {
    flex: 1 0 auto;
    width: 100%;
    text-align: center;
    color: var(--site-white);
    font-size: var(--default);
    border-radius: var(--miniscule);
    padding: calc(var(--medium) * 1.5) calc(var(--default) * 2);
    background: var(--site-light-blue);
    transition: var(--transition-fastest) ease;
}

.contact-form .form-submit button:hover {
    background: var(--site-red);
}

@media (min-width: 768px) {
    .contact-form .form-submit button {
        flex: unset;
        width: initial;
    }
}

.branch-locations {
    border-radius: var(--miniscule);
    border: 1px solid var(--site-grey);
    margin-bottom: calc(var(--default) * 1.5);
}

.branch-locations:hover {
    box-shadow: 0 0 20px var(--site-dark-grey);
}

.branch-locations .branch {
    padding: var(--medium);
    font-size: calc(var(--medium) * 1.75);
}

.branch-locations .branch>div {
    position: relative;
    z-index: 1;
}

.branch-locations .branch>div>svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    max-width: calc(var(--max-width-100) / 6);
    max-height: calc(var(--max-width-100) / 6);
    fill: var(--site-red);
}

.branch-locations .branch>div>svg+span,
.branch-locations .branch>div>svg+a {
    margin-left: calc(var(--max-width-100) / 4);
}

.branch-locations .branch-name {
    padding: calc(var(--max-width-100) / 6);
}

.branch-locations .branch .branch-map {
    overflow: hidden;
    border: 1px solid var(--site-dark-grey);
    box-shadow: 0 0 15px var(--site-grey);
}

.branch-locations .branch .branch-map iframe {
    width: 100%;
    max-width: 100%;
    max-height: var(--max-width-100);
}

.branch-locations .branch-name span {
    font-weight: 600;
    color: var(--site-dark-blue);
}
/* PRODUCT DESCRIPTION */
.page-product-description-data {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    place-items: center;
    align-items: flex-start;
    position: relative;
}
@media (min-width: 1024px){
    .page-product-description-data{
        grid-template-columns: repeat(2, 1fr);
    }
}
.page-product-description-data .product-image{
    min-height: var(--max-width-400);
    display: grid;
    place-items: center;
}
.page-product-description-data .product-information{
    position: sticky;
    top: 70px;
}
.page-product-description-data .product-details-row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}
.page-product-description-data .product-details-row strong,
.page-product-description-data .product-details-row span{
    flex: 1 0 auto;
    width: 100%;
    /* max-width: 50%; */
}

@media (min-width: 380px){
    .page-product-description-data .product-details-row strong,
    .page-product-description-data .product-details-row span{
        max-width: 50%;
    }
}

.page-product-description-data .product-details-row.characteristics strong,
.page-product-description-data .product-details-row.characteristics > div{
    flex: 1 0 auto;
    max-width: 100%;
}
.page-product-description-attributes{
    margin: var(--default) 0;
    border: 1px solid var(--site-dark-grey);
}
.product-attribute-row{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}
.product-attribute-row:nth-of-type(odd){
    background: var(--site-grey);
}
.product-attribute-row:hover{
    background: var(--site-dark-grey);
    border-bottom: 1px solid var(--site-dark-blue);
}
.product-attribute-row strong,
.product-attribute-row span{
    flex: 1 0 auto;
    width: 100%;
    max-width: 100%;
    padding: var(--medium);
}
@media (min-width: 768px){
    .product-attribute-row strong,
    .product-attribute-row span{
        max-width: 50%;
    }
}
.product-attribute-row strong{
    font-weight: 600;
}
/* TOAST NOTIFICATION */
.toast {
    position: fixed;
    bottom: calc(20% + var(--medium));
    left: calc(2% + var(--miniscule));
    min-width: 200px;
    min-height: 50px;
    z-index: 10000;
    padding: var(--default);
    font-weight: 600;
    color: var(--alert-success-darker);
    background: var(--alert-success);
    border: 1px solid var(--alert-success-darker);
    border-radius: var(--miniscule);
    opacity: var(--opacity-none);
    transform: translateX(-100%);
    transform: var(--transition-medium) ease;
    animation: showToast var(--transition-slow) ease 1 forwards;
}
@keyframes showToast{
    0%{
        opacity: var(--opacity-none);
        transform: translateX(-100%); 
    }
    100%{
        opacity: var(--opacity-full);
        transform: translateX(0);
    }
}