/* == HEADER ==*/
header {
    position: sticky;
    top: 0;
    background: var(--site-white);
    z-index: 100000;
}

/* @media (min-width: 1024px) {
    header {
        margin: var(--default);
    }
} */

.header-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 auto;
    padding: var(--medium);
    border-radius: var(--miniscule);
}

@media (min-width: 1400px) {
    .header-content {
        max-width: var(--max-width-1300);
    }
}

.header-content .header-logo,
.header-content nav {
    flex: 1 0 auto;
    width: 100%;
    position: relative;
}

.header-content .header-logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-content .header-logo #logo img {
    width: 100%;
    height: 70px;
    max-width: 100px;
    object-fit: contain;
    object-position: center;
    position: relative;
    top: var(--miniscule);

    @media (min-width: 1024px) {
        max-width: 200px;
    }
}

.header-menu-icon {
    position: absolute;
    top: 50%;
    right: calc(1 * var(--miniscule));
    transform: translateY(-50%);
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    z-index: 12000;
}

.header-menu-icon .menu-icon {
    width: 35px;
    height: 4px;
    background: var(--site-dark-blue);
    margin: calc(var(--miniscule) * 0.8) 0;
    opacity: var(--opacity-full);
    transform: rotate(0deg) translateY(0);
    transform-origin: center;
    transition: var(--transition-medium) ease;
}

.header-menu-icon.active-menu-icon .menu-icon {
    background: var(--site-red);
}

.header-menu-icon.active-menu-icon .menu-icon:nth-child(1) {
    transform: rotate(45deg) translateY(15px);
}

.header-menu-icon.active-menu-icon .menu-icon:nth-child(2) {
    opacity: var(--opacity-none);
}

.header-menu-icon.active-menu-icon .menu-icon:nth-child(3) {
    transform: rotate(-45deg) translateY(-15px);
}

@media (min-width: 1024px) {
    .header-menu-icon {
        display: none !important;
    }
}

.header-content nav {
    display: grid;
    place-items: center;
}

@media (max-width: 1023px) {
    .header-content nav {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background: var(--site-white);
        transform: translateX(-100%);
        visibility: hidden;
        opacity: var(--opacity-none);
        display: grid;
        place-items: center;
        z-index: 10000;
        transition: var(--transition-slow) ease;
    }

    .header-content nav.active-nav-menu {
        transform: translateX(0);
        visibility: visible;
        opacity: var(--opacity-full);
    }

    .header-content nav ul {
        margin: 0 auto;
        max-width: var(--max-width-100);
    }
}

.header-content nav ul {
    display: flex;
    flex-wrap: wrap;
}

.header-content nav ul li {
    flex: 1 0 auto;
    width: 100%;
    margin: var(--miniscule);
}

@media (min-width: 1024px) {
    .header-content .header-logo {
        max-width: 30%;
    }

    .header-content nav {
        max-width: 70%;
    }

    .header-content nav ul li {
        width: initial;
    }
}

.header-logo #logo span {
    user-select: none;
    font-weight: 600;
    font-size: calc(var(--default) * 1.2);
    text-transform: uppercase;
}

@media (min-width: 400px) {
    .header-logo #logo span {
        font-size: calc(var(--default) * 2);
    }
}

.header-logo #logo span:nth-child(1) {
    color: var(--site-dark-blue);
}

.header-logo #logo span:nth-child(2) {
    color: var(--site-red);
}

.header-content li a {
    user-select: none;
    padding: var(--miniscule) var(--medium);
    /* border-radius: var(--miniscule); */
    transition: var(--transition-fast) ease;
}

.header-content li a:hover {
    color: var(--site-red);
}

.header-content li a.active-link {
    color: var(--site-red);
    /* background: linear-gradient(var(--site-dark-blue), var(--site-red)); */
    border-bottom: 2px solid var(--site-red);
}

/* BREADCRUMB */
.breadcrumb {
    display: block;
    width: 100%;
    margin: 0 auto;
    max-width: var(--max-width-1200);
}

.breadcrumb::before,
.breadcrumb::after {
    content: "";
    display: table;
    clear: both;
}

.breadcrumb a {
    float: left;
    height: 40px;
    text-transform: capitalize;
    padding: var(--miniscule) var(--default);
    position: relative;
}

.breadcrumb a::after {
    content: "";
    position: absolute;
    top: -3px;
    right: -20px;
    width: 40px;
    height: 40px;
    border-left: 10px solid var(--site-dark-blue);
    border-bottom: 10px solid var(--site-dark-blue);
    transform: rotate(-135deg) scale(0.2);
}

.breadcrumb a:last-child:after {
    content: unset;
}