/* == HEADER ==*/
header {
    position: sticky;
    top: 0;
    margin: var(--default);
    background: var(--site-white);
    z-index: 100000;
}

.header-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 auto;
    padding: var(--medium);
    border: 1px solid var(--site-grey);
    border-radius: var(--miniscule);
}

@media (min-width: 1400px) {
    .header-content {
        max-width: var(--max-width-1300);
    }
}

.header-content .header-logo,
.header-content nav {
    flex: 1 0 auto;
    width: 100%;
}

.header-content .header-logo {
    display: flex;
    justify-content: center;
}

.header-content nav {
    display: grid;
    place-items: center;
}

@media (max-width: 1023px) {
    .header-content nav {
        max-height: 0;
        overflow: hidden;
    }
}

.header-content nav ul {
    display: flex;
    flex-wrap: wrap;
}

.header-content nav ul li {
    flex: 1 0 auto;
    width: 100%;
    margin: var(--miniscule);
}

@media (min-width: 768px) {
    .header-content .header-logo {
        max-width: 30%;
    }

    .header-content nav {
        max-width: 70%;
    }

    .header-content nav ul li {
        width: initial;
    }
}

.header-logo #logo span {
    font-weight: 600;
    font-size: calc(var(--default) * 2);
    text-transform: uppercase;
}

.header-logo #logo span:nth-child(1) {
    color: var(--site-red);
}

.header-logo #logo span:nth-child(2) {
    color: var(--site-dark-blue);
}

.header-content li a {
    padding: var(--miniscule) var(--medium);
    border-radius: var(--miniscule);
    transition: var(--transition-fast) ease;
}

.header-content li a:hover {
    color: var(--site-red);
}

.header-content li a.active-link {
    color: var(--site-white);
    background: linear-gradient(var(--site-dark-blue), var(--site-red));
}