@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;600;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

*::before,
*::after {
  padding: inherit;
  margin: inherit;
  box-sizing: inherit;
}

:root {
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
::-webkit-scrollbar{
  width: 5px;
}
::-webkit-scrollbar-thumb{
  background: var(--site-dark-blue);
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 300;
  line-height: 1.6;
}

a, span, small, strong, blockquote, audio {
  display: inline-block;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:after {
  color: inherit;
}

button {
  cursor: pointer;
  outline: none;
  border: 0;
  background: transparent;
}

button:hover {
  outline: inherit;
  border: inherit;
  background: inherit;
}

video,
img {
  display: block;
  max-width: 100%;
}
li{
  list-style: none;
  list-style-type: none;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}